<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.HackUIowa17.receiptstash">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rs_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.HackUIowa17.receiptstash.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.HackUIowa17.receiptstash.ReceiptsActivity"
            android:parentActivityName="com.HackUIowa17.receiptstash.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.HackUIowa17.receiptstash.MainActivity" />
        </activity>
        <activity
            android:name="com.HackUIowa17.receiptstash.CameraActivity"
            android:parentActivityName="com.HackUIowa17.receiptstash.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.HackUIowa17.receiptstash.MainActivity" />
        </activity>
        <activity
            android:name="com.HackUIowa17.receiptstash.BarcodeCaptureActivity"
            android:parentActivityName="com.HackUIowa17.receiptstash.CameraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.HackUIowa17.receiptstash.CameraActivity" />
        </activity>
        <activity android:name="com.HackUIowa17.receiptstash.IndividualReceipt">
            android:name=".IndividualReceiptActivity"
            android:parentActivityName=".ReceiptsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.HackUIowa17.receiptstash.ReceiptsActivity" />
        </activity>
        <activity android:name="com.HackUIowa17.receiptstash.SettingsActivity"></activity>
    </application>

</manifest>